<td colspan="5">
  <table class="table table-condensed table-bordered">
    <tr>
      <td><span ng-hide="hideAnswer" ng-if="['progressive','potential','causative','passive'].indexOf(tense.sh)>-1">category: ichidan</span></td>
      <td colspan="2">{{enConj[tense.sh].positive.join(', ')}}</td>
      <td colspan="2">{{enConj[tense.sh].negative.join(', ')}}</td>
    </tr>
    <tr>
      <th>{{tense.display}}</th>
      <td ng-class="forms[0]">
        <span ng-if="selectedForms.plain" compare-response response="response[tense.sh][forms[0]].positive" answer="jaConj[tense.sh][forms[0]].positive" hide-answer="hideAnswer">
          <input type="text" ng-disabled="!hideAnswer" ng-model="response[tense.sh][forms[0]].positive" to-hiragana>
        </span>
        <span ng-hide="hideAnswer" lang-ja ng-model="jaConj[tense.sh][forms[0]].positive[kana]"></span>
      </td>
      <td ng-class="forms[1]">
        <span ng-if="selectedForms.polite" compare-response response="response[tense.sh][forms[1]].positive" answer="jaConj[tense.sh][forms[1]].positive" hide-answer="hideAnswer">
          <input type="text" ng-disabled="!hideAnswer" ng-model="response[tense.sh][forms[1]].positive" to-hiragana>
        </span>
        <span ng-hide="hideAnswer" lang-ja ng-model="jaConj[tense.sh][forms[1]].positive[kana]"></span>
      </td>
      <td ng-class="forms[0]">
        <span ng-if="selectedForms.plain" compare-response response="response[tense.sh][forms[0]].negative" answer="jaConj[tense.sh][forms[0]].negative" hide-answer="hideAnswer">
          <input type="text" ng-disabled="!hideAnswer" ng-model="response[tense.sh][forms[0]].negative" to-hiragana>
        </span>
        <span ng-hide="hideAnswer" lang-ja ng-model="jaConj[tense.sh][forms[0]].negative[kana]"></span>
      </td>
      <td ng-class="forms[1]">
        <span ng-if="selectedForms.polite" compare-response response="response[tense.sh][forms[1]].negative" answer="jaConj[tense.sh][forms[1]].negative" hide-answer="hideAnswer">
          <input type="text" ng-disabled="!hideAnswer" ng-model="response[tense.sh][forms[1]].negative" to-hiragana>
        </span>
        <span ng-hide="hideAnswer" lang-ja ng-model="jaConj[tense.sh][forms[1]].negative[kana]"></span>
      </td>
    </tr>
  </table>
</td>