doctype html
html(lang='en' ng-app='waniConj')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 鰐活用 「WaniConjugation」
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='icon' href='')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-149342866-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149342866-1');
    script(src='/js/jquery.min.js')
    script(src='/js/responsivevoice.js')
    script(src='/js/wanakana.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js')
    script(src='/js/conjugate.js')
    script(src='/js/app.js')
  body(ng-controller='AppController as ctrl')
    header
      a(class="h2 brand" class="active" href="/")
        span(lang="ja") 鰐活用
        | 「WaniConjugation」
      p a companion tool for users of&nbsp;
        a(href="https://www.wanikani.com/") WaniKani
    nav(class="navbar")
      ul(class="nav navbar-nav")
        li
          a(href="/verbs")
            span(lang="ja") 動詞
            | Verbs
        li
          a(href="/adj")
            span(class="small-text" lang="ja") 形容詞
            | Adjectives
      ul(class="nav navbar-nav navbar-right")
        li
          a(href="/conjugate")
            span(lang="ja") 活用
            | Conjugate
        li
          a(href="/translate")
            span(lang="ja") 翻訳
            | Translate
    block content
    footer(class="text-center")
      a(href="http://responsivevoice.org" target="_blank") ResponsiveVoice-NonCommercial licensed under&nbsp;
      a(href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank")
        img(title="ResponsiveVoice Text To Speech" src="http://responsivevoice.org/wp-content/uploads/2014/08/95x15.png" alt="95x15" width="95" height="15")
      p
        small
          | Site created by cantrellnm. Open source&nbsp;
          a(href="https://github.com/cantrellnm/waniconjugation" target="_blank") on Github.
      </p>
